.aboutPageContainer{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.logo{
    margin-top: 2.75rem;
    width: 5.5rem
}

.ttmArrows{
    margin-top: 2.75rem;
    width: 4.6875rem;
}

.subheading{    
    margin-bottom: 0rem;
    margin-top: 4rem;
}

h2{
    font-size: 1.5rem;
    font-weight: normal;
}

p{
    font-size: 1.25rem;
}