.course{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.coursePhoto{
    margin-top: 2rem;
    margin-bottom: 6.5rem;
}

.title{
    font-size: 1.125rem;
    text-align: center;
    color: grey;
    padding-bottom: 3.75rem;
}

.subTitle{
    width: 80vw;
}

.text{
    width: 80vw;
}

button{
    padding: .5rem;
    background-color: white;
    border: solid 1px black;
}

.courseButtonContainer{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
