
.rectangleContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.maroon .red .orange .darkPurple{
    display: inline-block;
}

.bg{
    max-width: 100%;
    max-height: 100%;
}

.courseMeat{
    max-height: 100%;
    max-width: 100%;
}

.quad1{
    background: linear-gradient(#ca3419, #992718);
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad2{
    background: linear-gradient(#fd4033, #e82d33);
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad3{
    background: linear-gradient(#944437, #613a49);
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad4{
    background: linear-gradient(#fa5718, #f53a18);
    height: 46vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
    font-weight: 900;
  
}
.text1{
    font-size: 1.5rem;
    margin: 0 0;
}
.text2{
    font-size: 3.5rem;
    margin: 0 0;
}

.courseListContainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#632e38, #5b1c23);
    text-align: center;
    z-index: -1;
    height: 100vh;
    justify-content: center;
}

.courseText{
    margin-left: 2rem;
    text-align: left;
    border-bottom: solid .25rem #a3352e ;
    padding-top: 1rem;
}

.courseTextAbout{
    margin-left: 2rem;
    text-align: left;
    padding-top: 1rem;
}

a{
    text-decoration: none;
    font-size: 2.5rem; 
}

.course1{
    color: #f77c39;
    margin-top:0;
}

.course2{
    color: #8979a3;
    margin-top:0;
}

.course3{
    color: #d94275;
    margin-top:0;
}

.course4{
    color: #c35855;
    margin-top:0;
}

.about{
    color: #eac7c0;
}

/* tablet and up */
@media only screen and (min-width: 700px) {
    .courseListContainer{
        align-items: center;
    }
    .courseText{
        text-align:center;
        width: 50vw;
    }
}