.App{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    overflow: scroll;
}

.imgContainer{
    display: flex;
    justify-content: center;
}

.ttmLogoContainer{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: center;
}

.ttmLogo{
    margin-top: 1.5rem;
    margin-bottom: 30px;
}